{{define "content"}}

<h1 data-cy="page-heading">Login</h1>
<p>Use the form below to login</p>

<form method="{{.config.Method}}" action="{{.config.Action}}" accept-charset="UTF-8">
  {{range .config.Fields}}
    <fieldset>
      <label>{{labelFor .Name}}</label>
      <input required="{{.Required}}"
            name="{{.Name}}"
            data-cy="{{.Name}}"
            type="{{.Type}}"
            value="{{.Value}}"
            {{if .Pattern}} pattern="{{.Pattern}}" {{end}}
            {{if .Disabled}}disabled{{end}}
      />
      {{range .Messages }}
        <div class="field-message">
          <span data-cy="field_message_id_{{.Name}}">{{.ID}}</span><p>{{.Text}}</p>
        </div>
      {{end}}
    </fieldset>
  {{end}}
  <button data-cy="submit">
      Login
  </button>
</form>

<p>If you havent get signed up click <a data-cy="registration" href="/auth/registration">here</a> to register</p>

{{ end }}