{{define "content"}}

<p>Enter your email address to get a recovery email sent</p>

<form method="{{.link.Method}}" action="{{.link.Action}}" accept-charset="UTF-8">
  {{range .link.Fields}}
    <fieldset>
      <label>{{labelFor .Name}}</label>
      <input required="{{.Required}}"
            name="{{.Name}}"
            data-cy="{{.Name}}"
            type="{{.Type}}"
            value="{{.Value}}"
            {{if .Pattern}} pattern="{{.Pattern}}" {{end}}
            {{if .Disabled}}disabled{{end}}
      />
      {{range .Messages }}
        <div class="field-message">
          <span data-cy="field_message_id_{{.Name}}">{{.ID}}</span><p>{{.Text}}</p>
        </div>
      {{end}}
    </fieldset>
  {{end}}
  <button data-cy="submit">
      Send recovery link
  </button>
</form>

<div data-cy="state" data-value="{{.state}}"></div>
{{ if eq .state "sent_email" }}
  <p>An email has been sent</p>
{{ end }}

{{ end }}