{{define "content"}}

<h1 data-cy="page-heading">Update Profile</h1>
<p>Use the form below to update your profile</p>

<form method="{{.profile.Method}}" action="{{.profile.Action}}" accept-charset="UTF-8">
  {{range .profile.Fields}}
    {{ $field := . }}
    <fieldset>
      <label>{{labelFor .Name}}</label>
      <input required="{{.Required}}"
            name="{{.Name}}"
            data-cy="{{.Name}}"
            type="{{.Type}}"
            value="{{.Value}}"
            {{if .Pattern}} pattern="{{.Pattern}}" {{end}}
            {{if .Disabled}}disabled{{end}}
      />
      {{range .Messages }}
        <div class="field-message">
          <span data-cy="field_message_id_{{$field.Name}}">{{.ID}}</span><p>{{.Text}}</p>
        </div>
      {{end}}
    </fieldset>
  {{end}}
  <button data-cy="submit">
      Update
  </button>
</form>

{{ end }}